// Colors
.fill-primary {
    fill: var(--primary-color);
}
.text-primary {
    color: var(--primary-color);
}

.fill-blue {
    fill: #0065ee;
}
.text-blue {
    color: #0065ee;
}

.fill-cyan {
    fill: #06c1d4;
}
.text-cyan {
    color: #06c1d4;
}

.fill-green {
    fill: #1bcba1;
}
.text-green {
    color: #1bcba1;
}
