.wrapper {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 3%);
    height: var(--nav-height);
    padding: 4px 0;
    // position: -webkit-sticky;
    // position: sticky;
    // top: calc(var(--header-height) - var(--nav-height));
}

.container {
    display: flex;
    margin: 0 auto;
    width: var(--default-width);
}

.slider-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    transition: transform 0.7s ease-in-out;
    button {
        height: 100%;
        padding: 0 8px 0 4px;
        img {
            width: var(--nav-image-size);
            height: var(--nav-image-size);
        }
    }
}
