.wrapper {
    background-color: #f8fafc;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    margin-top: 8px;
    padding: 8px;
    &:hover {
        background-color: #ecf0f4;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
